* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 100%;
}

.banner-container {
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
}

.banner-wrapper {
  width: 100%;
  background-image: url("./images/banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav li {
  margin: 10px;
  color: white;
  cursor: pointer;
}

.nav li:hover {
  text-decoration: underline;
}

.logo {
  width: 100px;
  margin: 10px;
}

.hero {
  margin-top: 80px;
}

.hero h1 {
  color: white;
  font-size: 3em;
  width: 40%;
}

.hero p {
  color: white;
  font-size: 1.5em;
  width: 50%;
}

/* Description section */

/* .description-wrapper {
  height: 300px;
}

.description-container {
  text-align: center;
  max-width: 512px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
} */

/* Contacts section */
/* .contacts-wrapper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./images/coffee.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  color: #fff;
}

.contacts-container {
  text-align: center;
  max-width: 512px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-group label,
.form-group input {
  text-align: left;
  display: block;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group input {
  padding: 10px;
  width: 100%;
}

.form-group {
  width: 300px;
  margin-bottom: 15px;
}

.submit-btn {
  margin-top: 15px;
  cursor: pointer;
  background-color: #f0810f;
  border: 1px solid #f0810f;
  color: #fff;
  padding: 10px 15px;
} */
